* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #020817;
}

/* LOGIN PAGE */

.login-container {
  display: flex;
  min-height: 100vh;
  background: #020817;
  color: white;
}

.left-section {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo h2 {
  color: #22d3ee;
}

.logo p {
  color: #94a3b8;
}

.shield-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shield-icon {
  font-size: 150px;
  color: #22d3ee;
  text-shadow: 0 0 40px #22d3ee;
}

.tagline h2 {
  color: #22d3ee;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 550px;
  min-height: 650px;
  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 0 25px rgba(34, 211, 238, 0.1);
}

.login-card h1 {
  margin-bottom: 10px;
}

.login-card p {
  color: #94a3b8;
  margin-bottom: 25px;
}

.login-card label {
  display: block;
  margin-bottom: 8px;
  margin-top: 15px;
}

.login-card input {
  width: 100%;
  padding: 14px;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  border-radius: 8px;
}

.remember-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.remember-row a {
  color: #22d3ee;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background: linear-gradient(
    90deg,
    #06b6d4,
    #14b8a6
  );
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.signup-link {
  text-align: center;
  margin-top: 25px;
}

.signup-link a {
  color: #22d3ee;
  text-decoration: none;
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: #64748b;
}

/* SIGNUP PAGE */

.signup-page {
  background: #020817;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.signup-card {
  width: 800px;
  background: #0f172a;
  padding: 40px;
  border-radius: 20px;
  color: white;
  border: 1px solid #1e293b;
}

.signup-card h1 {
  margin-bottom: 10px;
}

.signup-card p {
  color: #94a3b8;
  margin-bottom: 20px;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #22d3ee;
  font-weight: bold;
}

.signup-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
}

.password-rules {
  color: #94a3b8;
  margin-bottom: 15px;
}

.security-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.security-badges span {
  background: #0ea5e9;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.signup-btn {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  background: linear-gradient(
    90deg,
    #06b6d4,
    #14b8a6
  );
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}